@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#7EBFA1,#F2D43D);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a08c29;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#2b34dd ;
    text-align: center;
    text-shadow:1px 1px 2px #0f124b   ;
}

h2{
    color: #d68ef5;
    text-shadow:#6e4b7e ;
}

p{
    text-align: justify;
}